@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fafafa;
}

.navigation {
  display: flex;
  flex-direction: column;
}

.navigation a {
  margin-top: 0.7rem;
}

.top-bar {
  color: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b1c5c;
  padding: 0 2rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

input[type="text"] {
  padding: 0.5rem 0.5rem;
}

label {
  font-weight: bold;
}
